*{
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
}
h1{
    margin-top: 10px;
}
body{
    text-align: center;
    background-color: azure;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 30%;
    border: 1px solid;
    height: 60vh;
    margin: 10px auto;
    
}
.container-item{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color:khaki;
    border: 2px solid;
    align-items: center;
    font-size: 4rem;
    
}
#main{
    padding: 1rem;
}
.name{
    padding: 0.5rem;
    margin: 10px;
    border-radius:10px;
    

}
button{
    padding: 10px;
    background-color: khaki;
    color: black;
    font-weight: bolder;
    border-radius: 10px ;
    width: 100px;
    cursor: pointer;
    margin-left: 50px;
}
button:hover{
    background-color: chocolate;
}
#grid-table{
    display: none;
}
#playing-player{
    font-size: large;
    padding: 20px;
    background-color:lightskyblue;
    width: 30%;
    margin: auto;
    
}
